<div class="todo-list">

    <header>
        <div class="row">
          <div class="col-md-offset-2 col-md-1">
                <span class="glyphicon glyphicon-calendar"></span>
          </div>
          <div class="col-md-7">
                Complete the test task for Ruby Garage
          </div>
          <div class="col-md-1 col-md-pull-1 text-center">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon glyphicon-trash"></span>
          </div>
        </div>
        <div class="row">
        <div class="col-md-offset-2 col-md-1">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control add_task" placeholder="Start typing here to create a task...">
        </div>
         <div class="col-md-2" align="right">
            <button type="submit" class="btn btn-task">Send invitation</button>
          </div>
      </div>
    </header>

</div>