body{
    background-color: #C38C09;
}
.todo-list{
    margin-top: 30px;
}
/*
Header
*/

header div div{
    background-color: #5082BF;
    height: 45px;
    color: whitesmoke;
    font-size: 22px;
    line-height: 50px;
}
header div:nth-child(2) div{
    height: 45px;
    color: #82B99B;
    font-size: 22px;
    line-height: 50px;
    background-color: #D1D1D1;
}

.add_task{
    margin-top: 5px;
}
.btn-task{
    background-color: #82B99B;
    color: whitesmoke;
    margin-bottom: 9px;
}

/*Content*/
main div div{
    border: 1px solid #D1D1D1;
    background-color: white;
}
main div div:last-child{
    color: #999999;
    font-size: 16px;
    padding-top: 7px;
}


